<!DOCTYPE html>
<html>
  <head>
    <title>PixelPins</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('pinterest-logo.png') %>
    <script type="text/javascript">
      window.pinterestIcon = '<%= image_url('pinterest-logo.png') %>';
      window.githubIcon = '<%= image_url('github-logo.svg') %>';
      window.portfolioIcon = '<%= image_url('portfolio-logo.png') %>';
      window.linkedinIcon = '<%= image_url('linkedin-logo.svg') %>';
      window.logoutButton = '<%= image_url('logout-button.png') %>';
      window.editButton = '<%= image_url('edit-icon.svg') %>';
      window.deleteButton = '<%= image_url('trash-icon.svg') %>';
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
